.top{
    padding-left: 100px;
}
.girl{
    height:800px;
    padding:200px;
}
.color{
    color: tomato;
}
.main-heading {
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    padding-top:200px;
}
.button{
    border: none;
    border-radius: 25px;
    background-image:linear-gradient(to right, rgb(255, 162, 129),rgb(235, 51, 27));
    padding: 15px 25px;
    color:white;  
}
.secondary-heading{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}
.top{
    display: flex;
}
img{
    height: 1000px;;
}
.middle{
    border: 1px solid tomato;
    background: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: auto;
    padding: px;
}
.recipie-middle{
    text-align: center;

}
.recipie{
    display: flex;
}
.recipie-box-left{
    border: none;
}

.recipie-right-1{
    height: 300px;
    width: 600px;
}