body{
    padding: 0;
    margin: 0;
    background-color: rgb(252, 251, 250);
}
.top{
    padding-left: 100px;
}
.girl{
    height:800px;
    padding:200px;
}
.color{
    color: tomato;
}
.main-heading {
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    padding-top:200px;
}
.button{
    border: none;
    border-radius: 25px;
    background-image:linear-gradient(to right, rgb(255, 162, 129),rgb(235, 51, 27));
    padding: 15px 25px;
    color:white;  
    margin-top: 20px;
    }
.secondary-heading{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}
.top{
    display: flex;
}
img{
    height: 1000px;;
}
.middle{
    border:none;
    background: url(images/female/72.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.about{
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    color: rgb(119, 118, 118);
}
.contant{
    padding-top: 200px;
    padding-left: 800px;
}
.my-recipie-paragraph{
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    width: 800px ;
    margin: auto;
}
.recipie-middle{
    text-align: center;

}
.recipie-heading{
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    color: rgb(119, 118, 118);
}
.recipie{
    display: flex;
    padding-top: 50px;
}
.recipie-left{
    border: none;
    border-radius: 50px;
    padding: 30px;
    margin-left: 130px;
    margin-right: 15px;
    background-color: white;
    box-shadow: 5px 10px 80px lightgray;
}

.recipie-right {
    border: none;
    border-radius: 50px;
    padding: 30px;
    margin-right: 130px;
    margin-left: 15px;
    background-color: white;
    box-shadow: 5px 10px 80px lightgray;
}
.recipie-box-left {
    margin-right: 130px;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}
.recipie-box-right {
    margin-right: 130px;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}
.recipie-left-1 {
    border-radius: 40px;
    height: 400px;
    width: 750px;
    background-color: white;
    box-shadow: 5px 10px 80px lightgray;
}
.recipie-right-1{
    border-radius: 40px;
    height: 400px;
    width: 750px;
    background-color: white;
    box-shadow: 5px 10px 80px lightgray;
}
.recipie-title-name{
    margin-top: 20px;
}
h3{
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}
h3, h1, p {
    margin: 0px;
    padding: 0px;
}
.footer{
    display:flex;
    flex-wrap: wrap;
    border-radius: 40px;
    background-color: white;
    margin-bottom: 80px;
    padding: 50px;
    margin: 130px;
    box-shadow: 5px 10px 80px lightgray;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
   
}
.footer-heading{
    font-size: 70px;
    
}
.footer-contant{
    margin: auto;
}